.color {
    background-color: rgb(123, 123, 230);
}

.container {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

/* square */

.square {
  width: 100px;
  height: 100px;
  background: #f87f6a;
}

/* cross */

.cross {
  background: rgba(255, 255, 0, 0.972);
  height: 100px;
  position: relative;
  width: 20px;
  display: none;
}
.cross:after {
  background:yellow;
  content: "";
  height: 20px;
  left: -40px;
  position: absolute;
  top: 40px;
  width: 100px;
  /* display: none; */
}

.triangle-topright {
    width: 0;
    height: 0;
    border-top: 100px solid red;
    border-left: 100px solid transparent;
    display: none;
  }


  .triangle-bottomleft {
    width: 0;
    height: 0;
    border-bottom: 100px solid black;
    border-right: 100px solid transparent;
    display: none;
  }


  
  .circle {
    width: 100px;
    height: 100px;
    background:blue;
    border-radius: 50%;
    display: none;
  }

  .circleOne {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    display: none;
  }
  .circleTwo {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    display: none;
  }
  .circleThree {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    display: none;
  }

  
  .diamond {
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom: 70px solid red;
    position: relative;
    top: -50px;
    display: none;
    
  }
  .diamond:after {
    content: '';
    position: absolute;
    left: -50px;
    top: 70px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 70px solid red;
    display: none;
  }
