.container {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

/* square */

.square {
  width: 100px;
  height: 100px;
  background: red;
}

/* cross */

.cross {
  background: red;
  height: 100px;
  position: relative;
  width: 20px;
  display: none;
}
.cross:after {
  background: red;
  content: "";
  height: 20px;
  left: -40px;
  position: absolute;
  top: 40px;
  width: 100px;
  /* display: none; */
}

.triangle-topright {
    width: 0;
    height: 0;
    border-top: 100px solid red;
    border-left: 100px solid transparent;
    display: none;
  }


  .triangle-bottomleft {
    width: 0;
    height: 0;
    border-bottom: 100px solid red;
    border-right: 100px solid transparent;
    display: none;
  }


  
  .circle {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    display: none;
  }